[Sia One] [Outbound - Human].json
{
  "name": "[Sia One] [Outbound - Human]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sia-one-outbound-human",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "b0000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "webhookId": "sia-one-outbound-human"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.body && typeof $input.first().json.body === 'object'\n  ? $input.first().json.body\n  : $input.first().json;\n\nreturn [{ json: {\n  phone: String(raw.phone ?? ''),\n  body: String(raw.body ?? ''),\n  company_id: raw.company_id,\n  conversation_id: raw.conversation_id ?? null,\n  sender_name: raw.sender_name ?? 'Agente',\n  sender_id: raw.sender_id ?? null\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "b0000001-0001-0001-0001-000000000002",
      "name": "Normalizar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_get_company_integration",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBobGd6emp5emtndnZlcWV2cWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTAwMDUsImV4cCI6MjA4ODg2NjAwNX0.aSRZbGFmDrWvjUBnYeiq9SVxiDhaJS-7t7iG4XXUbRI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBobGd6emp5emtndnZlcWV2cWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTAwMDUsImV4cCI6MjA4ODg2NjAwNX0.aSRZbGFmDrWvjUBnYeiq9SVxiDhaJS-7t7iG4XXUbRI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_company_id: $json.company_id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 300],
      "id": "b0000001-0001-0001-0001-000000000003",
      "name": "Buscar Integração"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0cond-success-001",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [900, 300],
      "id": "b0000001-0001-0001-0001-000000000004",
      "name": "Validar Integração"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://simplifique.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $('Buscar Integração').first().json.instance_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalizar').first().json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $('Normalizar').first().json.body }}"
            },
            {
              "name": "delay",
              "value": "1500"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1120, 180],
      "id": "b0000001-0001-0001-0001-000000000005",
      "name": "Enviar UAZAPI"
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalizar').first().json;\nconst uazapi = $input.first().json;\n\nreturn [{ json: {\n  p_company_id:           norm.company_id,\n  p_phone:                norm.phone,\n  p_body:                 norm.body,\n  p_sender_name:          norm.sender_name,\n  p_conversation_id:      norm.conversation_id,\n  p_external_message_id:  uazapi?.id || uazapi?.key?.id || uazapi?.messageId || null,\n  p_sender_id:            norm.sender_id\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 180],
      "id": "b0000001-0001-0001-0001-000000000006",
      "name": "Preparar Persistência"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_save_human_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBobGd6emp5emtndnZlcWV2cWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTAwMDUsImV4cCI6MjA4ODg2NjAwNX0.aSRZbGFmDrWvjUBnYeiq9SVxiDhaJS-7t7iG4XXUbRI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBobGd6emp5emtndnZlcWV2cWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTAwMDUsImV4cCI6MjA4ODg2NjAwNX0.aSRZbGFmDrWvjUBnYeiq9SVxiDhaJS-7t7iG4XXUbRI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1560, 180],
      "id": "b0000001-0001-0001-0001-000000000007",
      "name": "Salvar no Banco",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: $json.success === true, message_id: $json.message_id ?? null }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 180],
      "id": "b0000001-0001-0001-0001-000000000008",
      "name": "Responder ao Frontend"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error ?? 'Integração UAZAPI não encontrada.' }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 440],
      "id": "b0000001-0001-0001-0001-000000000009",
      "name": "Erro Integração"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{"node": "Normalizar", "type": "main", "index": 0}]
      ]
    },
    "Normalizar": {
      "main": [
        [{"node": "Buscar Integração", "type": "main", "index": 0}]
      ]
    },
    "Buscar Integração": {
      "main": [
        [{"node": "Validar Integração", "type": "main", "index": 0}]
      ]
    },
    "Validar Integração": {
      "main": [
        [{"node": "Enviar UAZAPI", "type": "main", "index": 0}],
        [{"node": "Erro Integração", "type": "main", "index": 0}]
      ]
    },
    "Enviar UAZAPI": {
      "main": [
        [{"node": "Preparar Persistência", "type": "main", "index": 0}]
      ]
    },
    "Preparar Persistência": {
      "main": [
        [{"node": "Salvar no Banco", "type": "main", "index": 0}]
      ]
    },
    "Salvar no Banco": {
      "main": [
        [{"node": "Responder ao Frontend", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "sia-one-outbound-human-v1",
  "meta": {
    "instanceId": "7e44dba8003e8ae6a7e9a2d983d63ce1a03b6fc6d0baad5c615d2e5c3f6e4030"
  },
  "id": "outbound-human-sia-one-v1",
  "tags": []
}
