[Sia One] [IA - Comercial] (2).json
{
  "name": "[Sia One] [IA - Comercial]",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3696,
        -80
      ],
      "id": "55f15d2a-c36b-422d-8a60-28f2f7420dfa",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const mensagem = $json[\"mensagem\"];\nconst abreviacoes = ['Dra.', 'Sr.', 'Sra.', 'Dr.', 'Prof.', '1.', '2.', '3.', '4.'];\n\n// Função para verificar se um caractere é um emoji\nconst contemEmoji = (texto) => {\n  const regexEmoji = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF]+/g;\n  return regexEmoji.test(texto);\n};\n\n// Regex para identificar pontos de divisão, considerando abreviações\nconst regex = new RegExp(\n  `(?<!\\\\b(?:${abreviacoes.map(abreviacao => abreviacao.replace('.', '\\\\.')).join('|')}))(?<=[\"\".!?])\\\\s+`\n);\n\nlet partes = mensagem.split(regex);\n\n// Função para verificar se a última palavra de uma frase é uma abreviação\nconst ultimaPalavraEhAbreviacao = (frase) => {\n  const palavras = frase.trim().split(' ');\n  const ultimaPalavra = palavras[palavras.length - 1];\n  return abreviacoes.includes(ultimaPalavra);\n};\n\n// Ajusta a divisão para casos onde a frase termina com uma abreviação\nfor (let i = 1; i < partes.length; i++) {\n  if (ultimaPalavraEhAbreviacao(partes[i - 1])) {\n    partes[i - 1] += ' ' + partes[i];\n    partes.splice(i, 1);\n    i--; // Ajusta o índice após a remoção do elemento\n  }\n}\n\n// Função para combinar frases curtas em uma única parte\nconst combinarFrasesCurtas = (partes) => {\n  const combinadas = [];\n  let buffer = '';\n\n  for (let i = 0; i < partes.length; i++) {\n    buffer += partes[i].trim();\n    // Combina frases menores que 40 caracteres com a próxima, ou se houver emojis\n    if (i < partes.length - 1 && (partes[i].trim().length < 40 || contemEmoji(partes[i].trim()))) {\n      buffer += ' ';\n    } else {\n      combinadas.push(buffer);\n      buffer = '';\n    }\n  }\n\n  if (buffer.length > 0) {\n    combinadas.push(buffer);\n  }\n\n  return combinadas;\n};\n\npartes = combinarFrasesCurtas(partes);\n\n// Função para remover formatação de links\nconst removerFormatacaoLink = (texto) => {\n  const regexLinkFormatado = /\\[.*?\\]\\((.*?)\\)/g;\n  return texto.replace(regexLinkFormatado, '$1');\n};\n\n// Retorna as partes como uma array, removendo partes vazias ou apenas com espaços\nconst resultado = partes\n  .filter(parte => parte.trim() !== '') // Remove partes vazias\n  .map(parte => ({ mensagem: removerFormatacaoLink(parte.trim()) })); // Remove formatação de links e espaços em branco no início e fim\n\nreturn resultado;"
      },
      "id": "4fb356dd-564a-4bab-9d6e-737a8d84a63f",
      "name": "Separa Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -80
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1776,
        -208
      ],
      "id": "cba675d6-7fdb-44ad-b0a1-25444daa537c",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://simplifique.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "__REDACTED_UAZAPI_TOKEN__"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "delay",
              "value": "1500"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        32
      ],
      "id": "8f6bd7a0-3071-4f70-9c12-e38e8d90a5d9",
      "name": "msg"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "3cc85fd0-09da-41a1-98b8-4807ac7d25c2",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1376,
        32
      ],
      "webhookId": "eb1e13bd-1ebf-48bd-923a-9faece1949bf"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0b55c352-1403-42bc-b36b-68d806a7972d",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2032,
        -80
      ]
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool para agendar",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/f0427755-cadf-4846-8886-43952cde389c-134",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "nome_completo"
            },
            {
              "name": "number",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "resumo"
            },
            {
              "name": "data"
            },
            {
              "name": "hora_entrada"
            },
            {
              "name": "hora_saida"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -3104,
        176
      ],
      "id": "e9a38bf2-c012-46c1-8761-07e8e60d8c5f",
      "name": "agendamento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38c0fbe4-2c02-414c-a242-dbbf882f1b49",
              "name": "mensagem",
              "value": "={{ $json.content.replace(/['\\\"]+/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f7ec6c76-fcaf-4e8f-be1a-a0e9ec98bfdb",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd77e026-a39f-4d86-87ff-14e5125e9f52",
              "name": "role",
              "value": "assistant",
              "type": "string"
            },
            {
              "id": "7bccbe2c-3c3a-4b37-b2db-f2038f1d010e",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "18cf1e45-74f0-4f3c-8c4e-a99c94cf6f47",
      "name": "JSON ASSISTANT MENSAGEM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        -80
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=memory:{{ $('When Executed by Another Workflow').item.json.company_id }}:v1{{ $('When Executed by Another Workflow').item.json.message.phone }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        -3328,
        192
      ],
      "id": "3f3c8c98-891f-4ba7-be08-869daeb5b6b9",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "YLWGefNBa88e0d12",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3520,
        192
      ],
      "id": "b34c4b34-db8c-48ee-b6a2-5093e5b2d453",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Mv5L7L2vH8Jtn7Tx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. Nova mensagem recebida do usuário\n{{ $json.toJsonString() }}\n3. [DATA_ATUAL] = {{ $now.toString() }}\n5. Nunca envie o contexto para o usuário, apenas a resposta final para whatsapp",
        "options": {
          "systemMessage": "={{ $('prompt_agent').item.json.agent.system_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -3024,
        -80
      ],
      "id": "6ffa6261-d9cf-46dc-9bd1-f43e05477702",
      "name": "Valeria1"
    },
    {
      "parameters": {
        "toolDescription": "Chame essa tool para buscar conhecimento sobre procedimentos e serviços prestados",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/2af521a5-b07d-4e08-8209-4908fb7ebda1",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "procedimento"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -2416,
        176
      ],
      "id": "699fc810-fb2f-45d5-8ce4-722e3c5c4933",
      "name": "buscar_conhecimento1"
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool para chamar a equipe enviando resumo da conversa",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/a29ab999-8bf7-4d84-bc7a-792c0963d55c",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "numero",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "resumo"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -2912,
        176
      ],
      "id": "174605fd-9a16-4017-87ed-76beee34b127",
      "name": "chamar_equipe1"
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool quando tiver indicacao",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/a29ab999-8bf7-4d84-bc7a-indicacao",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "numero_paciente",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "resumo"
            },
            {
              "name": "numero_indicado"
            },
            {
              "name": "nome_indicado"
            },
            {
              "name": "nome_paciente"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -2576,
        176
      ],
      "id": "29ec8f19-13cc-4a7b-9fc3-53a0a63c20a5",
      "name": "indicacao1"
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool para chamar a equipe enviando resumo da conversa",
        "method": "POST",
        "url": "https://webhook.solucoesai.tech/webhook/a29ab999-8bf7-4d84-bc7a-792c0963d55c",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "numero",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').item.json.message.phone }}"
            },
            {
              "name": "resumo"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -2736,
        176
      ],
      "id": "6048e89e-3a9c-4039-9958-8fe7f82f6186",
      "name": "enviar_video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1596e9d6-b348-46c3-a8b7-98eea12538ad",
              "name": "role",
              "value": "={{ $('When Executed by Another Workflow').item.json.role }}",
              "type": "string"
            },
            {
              "id": "a769916d-97e5-4d69-b9b6-1ff18166733c",
              "name": "content",
              "value": "={{ $('When Executed by Another Workflow').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3248,
        -80
      ],
      "id": "50aa9658-c51d-4d80-850b-9cd9e04f46a8",
      "name": "message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_get_active_ai_agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "__REDACTED_SUPABASE_ANON_JWT__"
            },
            {
              "name": "Authorization",
              "value": "Bearer __REDACTED_SUPABASE_ANON_JWT__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_company_id",
              "value": "={{ $json.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3472,
        -80
      ],
      "id": "c6fd4e78-4079-40ea-8743-f26a2cd02554",
      "name": "prompt_agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://phlgzzjyzkgvveqevqbg.supabase.co/rest/v1/rpc/rpc_save_ai_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "__REDACTED_SUPABASE_ANON_JWT__"
            },
            {
              "name": "Authorization",
              "value": "Bearer __REDACTED_SUPABASE_ANON_JWT__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_company_id\": \"{{ $('When Executed by Another Workflow').item.json.company_id }}\",\n  \"p_phone\":      \"{{ $('When Executed by Another Workflow').item.json.message.phone }}\",\n  \"p_body\":       \"{{ $json.text }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1552,
        32
      ],
      "id": "4505389f-f4fa-4be9-ba40-423ca64949ce",
      "name": "inbout_message1",
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "role": "user",
          "content": "Olá! Gostaria de mais informações sobre o tratamento de DTM",
          "message": {
            "phone": "5528999046976"
          },
          "sender_name": "Marcia Reis da SILVA",
          "company_id": "f5de34df-432f-4c67-a879-542278a86bf1"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Separa Msg": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    },
    "msg": {
      "main": [
        [
          {
            "node": "inbout_message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento": {
      "ai_tool": [
        [
          {
            "node": "Valeria1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Separa Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON ASSISTANT MENSAGEM": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Valeria1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "Valeria1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Valeria1": {
      "main": [
        [
          {
            "node": "JSON ASSISTANT MENSAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_conhecimento1": {
      "ai_tool": [
        [
          {
            "node": "Valeria1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "chamar_equipe1": {
      "ai_tool": [
        [
          {
            "node": "Valeria1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "indicacao1": {
      "ai_tool": [
        [
          {
            "node": "Valeria1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "enviar_video": {
      "ai_tool": [
        [
          {
            "node": "Valeria1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "prompt_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message": {
      "main": [
        [
          {
            "node": "Valeria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt_agent": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inbout_message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9ad120fb-1961-469d-9fe9-7363f1d839d9",
  "meta": {
    "instanceId": "7e44dba8003e8ae6a7e9a2d983d63ce1a03b6fc6d0baad5c615d2e5c3f6e4030"
  },
  "id": "NqFletwLn8RvucvrmAZjs",
  "tags": []
}